* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    background-color: lightslategray;
    padding: 50px 40px;
    margin: 80px 0;
    border-radius: 20px;
}

.card {
    background-color: lightgray;
    padding: 20px;
    color: black;
    border-radius: 20px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-content h2, p {
    font-family: "Open Sans", sans-serif;
}

.card-content h2 {
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 20px;
}

.card-1 {
    grid-column: 1 / 3;
}

.card-2 {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
}

.card-4 {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.card-6 {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        width: 100%;
    }

        .card-1 {
            grid-column: 1 / 2;
            grid-row: 1;
        }
    
        .card-2 {
            grid-column: 1 / 2;
            grid-row: 2;
        }
    
        .card-4 {
            grid-column: 1 / 2;
            grid-row: 4;
        }
    
        .card-6 {
            grid-column: 1 / 2;
            grid-row: 6;
        }

}
